<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
         {{>header}}
         <p>
             {{help_text}}
         </p>
    </div>
</body>
<footer>
    {{>footer}}
</footer>


</html>