<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        {{>header}}
        <p>{{error_text}}</p>
    </body>
    <footer>
        {{>footer}}
    </footer>
</html>

