<!DOCTYPE html>
<html>
<head>
    <title>HALP!</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <h1>{{text}}</h1>
    {{>header}}
</body>
<footer>
    {{>footer}}
</footer>


</html>