<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        <h1>{{text}}</h1>
        {{>header}}
    </div>
</body>
<footer>
    {{>footer}}
</footer>


</html>